# files ignored in git repository

# backup files
*~

# object, archive,... files
*.[oa]
*.mod

# error messages from compiler etc.
*.error

# Files created at compilation time
LISTOBJ
TAGS
git_version.h
linux.*/
g77*/
IBMaix*/
SGIirix*/
sun*/
T3E*/
unicos*/
