# files ignored in git repository

# backup files
*~
*.bak

# object, archive,... files
*.[oa]
*.mod

# error messages from compiler etc.
*.error

#ignore local files and directories
*.local
*.local/

# Files created at compilation time
LISTOBJ
TAGS
git_version.h
git_version_*.h
linux.*/
g77*/
IBMaix*/
SGIirix*/
sun*/
T3E*/
unicos*/
bin/
lib/
builds/

# DivGeo archive
 
device/

# Doxygen documentation

equtrn/doxygen
equtrn/.doxygen
equtrn/html
equtrn/latex

